 ## Student Performance Indicator

### Life cycle of Machine learning Project

* Understanding the Problem Statement  
* Data Collection  
* Data Checks to perform  
* Exploratory data analysis  
* Data Pre-Processing  
* Model Training  
* Choose best model

### 1) Problem statement

This project understands how the student's performance (test scores) is affected by other variables such as Gender, Ethnicity, Parental level of education, Lunch and Test preparation course.

### Import Data and Required Packages

Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv('data/stud.csv')

In [7]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [9]:
df.shape

(1000, 8)

### 2.2 Dataset information
gender : sex of students -> (Male/female)  
race/ethnicity : ethnicity of students -> (Group A, B,C, D,E)  
parental level of education : parents' final education ->(bachelor's degree,some college,master's degree,associate's degree,high school)  
lunch : having lunch before test (standard or free/reduced)  
test preparation course : complete or not complete before test  
math score  
reading score  
writing score  

### 3. Data Checks to perform

Check Missing values  
Check Duplicates  
Check data type  
Check the number of unique values of each column  
Check statistics of data set  
Check various categories present in the different categorical column